@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    /*paleta de cores */

     --cor-verde: #49a09d;
     --cor-branco: #fff;
     --cor-lilas: #5f2c82;
     
     --robot:'Roboto';
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--robot);
    
}
body,html{
    width: 100vw;
    height:100vh;
    background: var(--cor-lilas);

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position:absolute;
    top:50%;
    left:50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    background: var(--cor-branco);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    transition: width  .3s, height .3s;
    transition-timing-function:  ease;
}
section#login > div#imagem{
    display: block;
    background: var(--cor-lilas) url(../image/srsorataro_city_moon.png) no-repeat;
    height: 200px;
    background-size: cover;
    background-position:  left bottom;
    
}
section#login >  div#formulario{
    display: block;
    padding:10px;
    
}
 h1{
    padding:5px;
    text-align: center;
    margin-bottom: 5px;
}
  p{
    line-height: 1.2rem;
    font-size: 0.875em;
    
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width:100%;
    height: 40px;
    background-color: #49a09d;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
form > input[type=submit]:hover{
    background-color:  #1a6461;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height:40px;
    background-color: #ffffff;
    border: 1px solid;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 7px;
    text-decoration: none;
    color: #0e3c3b;

}
form > a.botao:hover{
    background-color: #6febe7;
}
form > a.botao > i{
 font-size: 0.8em;
}